/challenges
/course_material

/03-pizza-menu/node_modules
/03-pizza-menu/package-lock.json

/04-steps/node_modules
/04-steps/package-lock.json

/05-travel-list/node_modules
/05-travel-list/package-lock.json

/06-eat-n-split/node_modules
/06-eat-n-split/package-lock.json

/07-usepopcorn/node_modules
/07-usepopcorn/package-lock.json
/07-usepopcorn/.env

/08-how-react-works/node_modules
/08-how-react-works/package-lock.json

/08-classy-weather/node_modules
/08-classy-weather/package-lock.json

.DS_Store